<div class="main-layout">
  <header class="main-header">
    <nav class="main-nav">
      <ul class="main-nav__items">
        <li class="main-nav__item">
          <a href="">Home</a>
        </li>
        <li class="main-nav__item">
          <a href="/viewport">Viewport</a>
        </li>
        <li class="main-nav__item">
          <a href="/interaction">Interaction</a>
        </li>
        <li class="main-nav__item">
          <a href="/loading">Loading</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="main-content">
    <router-outlet />
  </div>
</div>

